# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore SQLite database files and .idea
*.sqlite3
.idea/

# Ignore media files (e.g. user-uploaded files)
media/

# Ignore static files (e.g. CSS, JavaScript, or images)
static/

# Ignore environment files (e.g. .env or .env.local)
venv/

# Ignore files of migrations
*/migrations/

